body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body fills at least the entire viewport height */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 1rem; /* Add padding to main to create gap */
}

#about {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#map {
    height: 700px; /* Fixed height */
    width: 49.5%; /* Subtract width of sidebar and padding */
    transition: margin-right 0.3s ease;
    margin-right: 1rem; /* Add margin to the right to separate from sidebar */
    border-radius: 15px; /* Rounded edges */
    position: relative; /* Make sure the map is positioned relatively */
}


/* Apply expand and contract animation */
.leaflet-marker-icon.expandx {
    animation: expand-contract 0.6s ease; /* Expand and contract on click */
}

@keyframes expand-contractx {
    0% {
        transform: scale(1); /* Start at original size */
    }
    50% {
        transform: scale(1.3); /* Expand */
    }
    100% {
        transform: scale(1); /* Contract back to original size */
    }
}


#sidebar {
    position: fixed;
    top: 215px; /* Adjust to line up with map */
    right: -100%; /* Initially hidden */
    width: 49.5%; /* Fixed width */
    height: 698px; /* Fixed height */
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: right 0.3s ease; /* Match the JS timeout */
    border-radius: 15px 0 0 15px; /* Rounded corners */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Optional shadow for a nicer look */
}

#sidebar.show {
    right: 0; /* Show sidebar */
}


#sidebar-content {
    padding: 20px;
}

#close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}


/* Styling for sidebar content */
.location-content {
    padding: 10px;
}

.location-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Tab button styles */
.tabs {
    margin-top: 10px;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

/* Hide all tab content by default */
.tab-content {
    display: none;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* Display the first tab by default */
.tab-content:first-child {
    display: block;
}
